/* --- 폰트 --- */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

/* --- 기본 설정 초기화 --- */
button:focus {
  outline: none;
  box-shadow: none;
}

/* --- 사이드바 컨테이너 --- */
.sidebarLeft {
  position: relative;
  top: 0;
  left: 0;

  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  background: #e9e9e3;

  transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    padding 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

/* 열린 상태 */
.sidebarLeft.open {
  width: 360px;
  padding: 30px;
}

/* 닫힌 상태 */
.sidebarLeft.closed {
  width: 120px;
  padding: 30px;
}

/* --- 로고, 버튼 --- */
.sidebarLeftLogo {
  position: absolute;
  top: 38px;
  left: 33px;

  width: 55px;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
}

.sidebarButton {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  border-radius: 8px;

  opacity: 0;
  pointer-events: none;
}

.sidebarLeftLogo:hover .logoIcon {
  opacity: 0;
  pointer-events: none;
}

.sidebarLeftLogo:not(.open).hovered .openBtn {
  opacity: 1;
  pointer-events: auto;
}

.sidebarLeftLogo.open.hovered .closeBtn {
  opacity: 1;
  pointer-events: auto;
}


/* --- 약속 생성 버튼 --- */
.newButton {
  position: relative;
  margin: 100px 0 25px;

  width: 300px;
  height: 60px;
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: #000;
  border: none;
  border-radius: 13px;

  cursor: pointer;
}

.sidebarLeft.closed .newButton {
  width: 60px;
  background: transparent;
}

.buttonIcon {
  width: 35px;
  height: 35px;
}

.buttonIconClosed {
  width: 50px;
  height: 50px;

  display: inline-flex;

  transform-origin: center;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

.buttonIconClosed.Rotated {
  transform: rotate(45deg);
}

.buttonText {
  flex-grow: 1;

  font-family: "Pretendard";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  color: #c4c5b7;

  overflow: hidden;

  opacity: 1;
  transition: max-height 0.35s ease, opacity 0.2s ease;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarLeft.closed .buttonText {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

/* --- 페이지 이동 버튼 --- */
.iconRow {
  margin-bottom: 108px;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 52px;

  overflow: hidden;

  opacity: 1;
  transition: max-height 0.35s ease, opacity 0.2s ease;
}

.iconButton {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: none;
  border: none;

  cursor: pointer;
}

.iconText {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;

  color: #85837b;
  white-space: nowrap;
}

/* --- 약속 달력 --- */
.calendar {
  margin: 25px 0;
  padding: 25px;

  width: 300px;
  box-sizing: border-box;

  background: #f7f7f0;
  border-radius: 15px;

  overflow: hidden;

  opacity: 1;
  transition: max-height 0.35s ease, opacity 0.2s ease;
}

.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  font-family: "Pretendard";
  font-weight: 500;
  font-size: 15px;
  color: #85837b;
}

.moveMonth {
  background: none;
  border: none;

  font-family: "Pretendard";
  font-weight: 500;
  font-size: 15px;

  color: #7b7878;
  opacity: 0.5;

  cursor: pointer;
}

.todayButton {
  background: none;
  border: none;

  font-family: "Pretendard";
  font-weight: 300;
  font-size: 12px;

  color: #85837b;
  cursor: pointer;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px 5px;
  padding: 5px;
}

.dayName,
.day {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Pretendard";
  color: #85837b;
}

.dayName {
  font-weight: 300;
  font-size: 12px;
}

.day {
  height: 30px;

  font-weight: 500;
  font-size: 11px;
}

.sunday {
  color: #eeb1b1;
}

.saturday {
  color: #74abb4;
}

.empty {
  visibility: hidden;
}

.hasAppointment {
  background: #1f1f1f;
  color: #fafff2;
  border-radius: 4px;
}

/* --- 약속 목록 --- */
.appointments {
  margin: 25px 0;
  padding: 20px;

  width: 300px;
  height: 140px;
  box-sizing: border-box;

  background: #f7f7f0;
  border-radius: 15px;

  overflow: hidden;

  opacity: 1;
  transition: max-height 0.35s ease, opacity 0.2s ease;
}

.appointmentsBox {
  max-height: 100px;
  overflow-y: auto;
}

.appointmentsBox::-webkit-scrollbar {
  width: 6px;
}

.appointmentsBox::-webkit-scrollbar-thumb {
  background-image: url("data:image/svg+xml,%3Csvg width='3' height='63' viewBox='0 0 3 63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.25' y1='1.25' x2='1.25' y2='61.75' stroke='%23C4C5B7' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.appointments ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.appointmentItem {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 5px 0;

  color: #8aa24b;
  cursor: pointer;
}

.appointmentText {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 13px;
  color: #8aa24b;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* --- 프로필 이미지 --- */
.profile {
  position: absolute;
  left: 38px;
  bottom: 38px;

  width: 45px;
  height: 45px;

  border-radius: 50%;
  overflow: hidden;

  background-color: #ffffff;
}
