body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Pretendard', sans-serif;
  background-color: #E9E9E3;
}

.appLayout {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
}
